

.global-stats {
  background-color: var(--lighter-red);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global-stats > div:first-child {
  font-family: 'Josefin Sans';
  font-weight: 300;
  font-size: 2.5rem;
  color: var(--pink-red);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 30px;
}

.global-stats > div:first-child > span {
  position: relative;
  bottom: -5px;
}
