

.global-stats {
  background-color: var(--lighter-red);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global-stats > div:first-child {
  font-family: 'Josefin Sans';
  font-weight: 300;
  font-size: 2.5rem;
  color: var(--pink-red);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 30px;
}

.global-stats > div:first-child > span {
  position: relative;
  bottom: -5px;
}

.stat-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-label > .stat {
  font-size: 2.5rem;
  font-family: 'Josefin Sans';
  font-weight: 300;
}

.stat-label > .label {
  font-size: 1.8rem;
  color: var(--pink-red);
  font-family: 'Josefin Sans';
  font-weight: 300;
}

.stat-label + .stat-label {
  margin-top: 20px;
}